<div *ngIf="!add_movie && !edit_movie">


<table class="table table-hover table-bordered results">
  <thead class="thead-dark">
    <tr>
      <th *ngFor=" let header of header_list" scope="col">{{header}} </th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movie_list">
      <td>{{movie.original_name}}</td>
      <td>{{movie.translate_name}}</td>
      <td>{{movie.status}}</td>
      <td>{{movie.director}}</td>
      <td>{{movie.duration}}</td>
      <td>{{movie.classification}}</td>
      <!-- <img src={{movie.imagen}} style="max-width:100%;width:auto;height:auto;"> -->

      <td><button type="submit" class="btn btn-success" (click)="show_movie(movie.id)" >Ver</button></td>
      <td><button type="submit" class="btn btn-success" (click)="show_edit_movie(movie.id)" >Editar</button></td>
      <td><button type="submit" class="btn " (click)="delete_movie(movie.id)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-success" (click)="add_movie=true" >Agregar Película</button>

</div>


<div class="container" *ngIf="add_movie">
<h1>Agregar Película</h1>
  <form (ngSubmit)="onSubmitAdd()" #addMovieForm="ngForm">


    <div class="form-group">
      <label for="OName">Nombre Original</label>
      <input type="text" class="form-control" id="OName"
             [(ngModel)]="movie_to_add.original_name" name="OName"
             placeholder=FastandFurious,Titanic>
    </div>


    <div class="form-group">
      <label for="Name">Nombre</label>
      <input type="text" class="form-control" id="Name"
             [(ngModel)]="movie_to_add.translate_name" name="Name"
             placeholder=Rápidos-y-Furiosos,A-todo-gas>
    </div>


    <div class="form-group">
      <label for="status">Estado</label>
      <input type="text" class="form-control" id="status"
             [(ngModel)]="movie_to_add.status" name="status"
             placeholder=Activa,Inactiva>
    </div>


    <div class="form-group">
      <label for="director">Director</label>
      <input type="text" class="form-control" id="director"
             [(ngModel)]="movie_to_add.director" name="director"
             placeholder=Guillermo-del-Toro,Tarantino>
    </div>

    <!-- <div class="form-group">
      <label for="protagonists">Protagonistas</label>
      <input type="text" class="form-control" id="protagonists"
             [(ngModel)]="movie_to_add.protagonists" name="protagonists"
             placeholder=Voldemort,DiCaprio>
    </div> -->

    <div class="form-group">
      <label for="duration">Duración</label>
      <input type="text" class="form-control" id="duration"
             [(ngModel)]="movie_to_add.duration" name="duration"
             placeholder=120-minutos>
    </div>

    <div class="form-group">
      <label for="classification">Clasificación</label>
      <input type="text" class="form-control" id="classification"
             [(ngModel)]="movie_to_add.classification" name="classification"
             placeholder=D13,D15>
    </div>

    <!-- <div class="form-group">
      <label for="image">Imagen</label>
      <input type="text" class="form-control" id="image"
             [(ngModel)]="movie_to_add.imagen" name="image"
             placeholder=Select,URL>
    </div> -->

    <form>
  <div class="form-group">
    <label for="image">Imagen</label>
    <input type="file" class="form-control-file" id="image"
    [(ngModel)]="movie_to_add.imagen" name="image"
    placeholder=Select,URL>
  </div>
</form>


    <button type="submit" class="btn btn-success" [disabled]="!addMovieForm.form.valid">Submit</button>
  </form>

</div>


<div class="container" *ngIf="edit_movie">
<h1>Editar Sala</h1>
  <form (ngSubmit)="onSubmitEdit()" #editMovieForm="ngForm">


    <div class="form-group">
      <label for="OName">Nombre Original</label>
      <input type="text" class="form-control" id="OName"
             [(ngModel)]="movie_to_edit.original_name" name="OName"
             placeholder=FastandFurious,Titanic>
    </div>


    <div class="form-group">
      <label for="Name">Nombre</label>
      <input type="text" class="form-control" id="Name"
             [(ngModel)]="movie_to_edit.original_name" name="Name"
             placeholder=Rápidos-y-Furiosos,A-todo-gas>
    </div>


    <div class="form-group">
      <label for="status">Estado</label>
      <input type="text" class="form-control" id="status"
             [(ngModel)]="movie_to_edit.status" name="status"
             placeholder=Activa,Inactiva>
    </div>


    <div class="form-group">
      <label for="director">Director</label>
      <input type="text" class="form-control" id="director"
             [(ngModel)]="movie_to_edit.director" name="director"
             placeholder=Guillermo-del-Toro,Tarantino>
    </div>

    <!-- <div class="form-group">
      <label for="protagonists">Protagonistas</label>
      <input type="text" class="form-control" id="protagonists"
             [(ngModel)]="movie_to_edit.protagonists" name="protagonists"
             placeholder=Voldemort,DiCaprio>
    </div> -->

    <div class="form-group">
      <label for="duration">Duración</label>
      <input type="text" class="form-control" id="duration"
             [(ngModel)]="movie_to_edit.duration" name="duration"
             placeholder=120-minutos>
    </div>

    <div class="form-group">
      <label for="classification">Clasificación</label>
      <input type="text" class="form-control" id="classification"
             [(ngModel)]="movie_to_edit.classification" name="classification"
             placeholder=D13,D15>
    </div>


    <form>
  <div class="form-group">
    <label for="image">Imagen</label>
    <input type="file" class="form-control-file" id="image"
    [(ngModel)]="movie_to_edit.imagen" name="image"
    placeholder=Select,URL>
  </div>
</form>

    <!-- <div class="form-group">
      <label for="image">Imagen</label>
      <input type="text" class="form-control" id="image"
             [(ngModel)]="movie_to_edit.imagen" name="image"
             placeholder=Select,URL>
    </div> -->

    <button type="submit" class="btn btn-success" [disabled]="!editMovieForm.form.valid">Submit</button>
  </form>
</div>
